[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
.vs/Patients_Project_Net_Core/config/applicationhost.config
.vs/Patients_Project_Net_Core/v17/.futdcache.v2
.vs/Patients_Project_Net_Core/FileContentIndex/read.lock
.vs/Patients_Project_Net_Core/v17/.suo
.vs/ProjectEvaluation/patients_project_net_core.projects.v5.2
.vs/ProjectEvaluation/patients_project_net_core.metadata.v5.2
.vs/Patients_Project_Net_Core/FileContentIndex/f10b9714-5583-44ee-8d25-806fadf50d5a.vsidx
.vs/Patients_Project_Net_Core/FileContentIndex/d97c243c-b3b4-49d6-88b4-3447ed641775.vsidx
.vs/Patients_Project_Net_Core/DesignTimeBuild/.dtbcache.v2
Patients_Project_Net_Core.sln
.vs/Patients_Project_Net_Core/FileContentIndex/2d6ba08b-442b-4cfa-95bc-f02f09f83e21.vsidx
.vs/Patients_Project_Net_Core/FileContentIndex/ad753982-4ee3-476a-ad2f-e6640cc3fddb.vsidx
